@model ClassicGarage.Models.OwnerModel

@{
    ViewBag.Title = "Details";
}


<h2 class="center">Szczegóły konta</h2>

<div class="center">

    <hr />
    <dl class="center">
        <dt class="largerFont" >
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd >
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="largerFont">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="largerFont">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="largerFont">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary " })

        <a class="btn btn-primary" href="javascript:history.go(-1);" role="button">Wróć</a>
    </p>
</div>

