@model IEnumerable<ClassicGarage.Models.Cars>

@{
    ViewBag.Title = "Index";
}

<h2 class="center">Twoje Samochody</h2>

<p class="center">
    @Html.ActionLink("Dodaj", "Create", null, new { @class = "btn btn-primary " })
    <a class="btn btn-primary" href="javascript:history.go(-1);" role="button">Wróć</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Buy_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sell_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buy_Cost) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sell_Cost)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.Photo)

            @foreach (var item in Model)
            {
            <div class="toright">
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-primary " })
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-primary " })
            </div>
            }
            </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Buy_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sell_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buy_Cost) zł
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Sell_Cost) zł
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.OwnerID)
        </td>*@
        <td class="thumbnail">
            <img src="@Url.Content("~/Content/Photo/CarsPhotos/"+item.Photo)" alt="..." class="img-responsive">

        </td>
        @*<td>

            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-primary " })
            
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " })
            @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-primary " })
        </td>*@
    </tr>
}

</table>
